.room-pagination {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.pagination {
  padding-left: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.page-item {
  display: inline;
}

.page-item .page-link {
  font-size: 16px;
  color: #707079;
  border: 1px solid #EFD4B9;
  border-radius: 2px;
  padding: 7px 13px 5px;
  margin-right: 7px;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.page-item .page-link:hover {
  background: #dfa974;
  color: #ffffff;
}

.page-item:last-child .page-link {
  margin-right: 0;
}

.page-item.active .page-link {
  background: #dfa974;
  color: white;
}

.page-item.disabled .page-link {
  opacity: 0.5;
  cursor: not-allowed;
}
