@import url('./../../../../assets/css/tables.css');
.inline-container {
    display: flex;
    align-items: center; 
  }
  
  input.form-control {
    padding: 3px 6px; 
    border:none;
    transition: border-color 0.3s ease;
    width: min-content;
  }
  
  input.form-control:focus {
    border-color: #dfa974;
  }
  
  button.btn-primary {
    background: #dfa974;
    color: #fff;
    padding: 3px 6px; 
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #dfa974;
  }
  
  button.btn-primary:hover {
    background: linear-gradient(to top, #cc8a66, #b37755);
    border-color: #b37755;
  }
  
  .ml-2 {
    margin-left: 5px;
  }