.simple-stepper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.stepper-indicator {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #EFD4B9;
  margin-bottom: 20px;
}

.step {
  text-align: center;
  flex: 1;
  padding: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.step.is-active {
  background-color: #dfa974;
  color: white;
}

.step.is-complete {
  background-color: #e6e6e6;
  color: #707079;
}

.stepper-buttons {
  display: flex;
  justify-content: space-between;
}

.stepper-btn-back,
.stepper-btn-next {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s;
}

.stepper-btn-back {
  background-color: #ffffff;
  border: 1px solid #EFD4B9;
}

.stepper-btn-next {
  background-color: #dfa974;
  color: white;
  border: 1px solid #EFD4B9;
}

.stepper-btn-back:hover,
.stepper-btn-next:hover {
  background-color: #dfa974;
  color: white;
}

.stepper-btn-back:disabled,
.stepper-btn-next:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
