.button{
  justify-content: center;
  width: min-content;
}
.btn {
  border-radius: 8px;
  padding: 8px 16px;
  transition: all 0.3s;
  font-family: 'Roboto', sans-serif;
}

.btn-sm {
  padding: 6px 12px;
}

.btn-outline-danger {
  color: #e74c3c;
  border: 1px solid #e74c3c;
}

.btn-outline-danger:hover {
  background-color: #e74c3c;
  color: white;
}

.btn-outline-success {
  color: #2ecc71;
  border: 1px solid #2ecc71;
}

.btn-outline-success:hover {
  background-color: #2ecc71;
  color: white;
}

.btn-primary {
  background-color: #3498db;
  color: white;
}

.btn-primary:hover {
  background-color: #2980b9;
}

.form-control {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #dddddd;
}

.form-control:focus {
  border-color: #3498db;
  outline: none;
}

.form-label {
  font-family: 'Lora', serif;
  font-weight: bold;
  color: #3498db;
}

.mt-2 {
  margin-top: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}
