<div class="container">
  <div class="row">
    <h3 class="mb-4">User Roles List</h3>
    <div class="d-flex align-items-center">
      <app-sorting
        (sortChange)="onSortChange($event)"
        [sortOptions]="sortOptions"
      ></app-sorting>
      <app-search (searchChange)="onSearchChange($event)"></app-search>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userRole of userRoles; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ userRole.user.firstName }}</td>
            <td>{{ userRole.user.lastName }}</td>
            <td>{{ userRole.user.email }}</td>
            <td>{{ userRole.roles }}</td>
            <td>
              <button
                type="button"
                class="btn btn-sm btn-neutral"
                (click)="removeRole(userRole)"
              >
                Delete
              </button>
              <button
                type="button"
                class="btn btn-sm btn-blue"
                (click)="toggleInput(userRole)"
              >
                {{ activeUserRole === userRole ? "Cancel" : "Add" }}
              </button>
              <div *ngIf="activeUserRole === userRole" class="mt-2 dropdown">
                <button
                  class="btn btn-danger dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Choose Role
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li >
                    <a
                      class="dropdown-item"
                      (click)="addRoleToUser(userRole.userId, userRoleEnum.Operator)"
                    >
                      Operator
                    </a>
                  </li>
                  <li >
                    <a
                      class="dropdown-item"
                      (click)="addRoleToUser(userRole.userId, userRoleEnum.Admin)"
                    >
                      Admin
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
    <div></div>
  </div>
</div>
