<div class="container-fluid">
  <div class="row">
    <main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
      <h2 class="text-secondary">Reservation List</h2>
      <div class="d-flex">
        <app-sorting
          (sortChange)="onSortChange($event)"
          [sortOptions]="sortOptions"
        ></app-sorting>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Total Price</th>
              <th scope="col">Reservation Date</th>
              <th scope="col">Reservation Status</th>
              <th scope="col">Reservation Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let reservation of reservations; let i = index"
            >
              <tr>
                <td
                  (click)="showReservationDetails(reservation)"
                  style="cursor: pointer"
                >
                  {{ i + 1 }}
                </td>
                <td
                  (click)="showReservationDetails(reservation)"
                  style="cursor: pointer"
                >
                  {{ reservation.totalPrice }}
                </td>
                <td
                  (click)="showReservationDetails(reservation)"
                  style="cursor: pointer"
                >
                  {{ reservation.reservationDate | date : "mediumDate" }}
                </td>
                <td
                  (click)="showReservationDetails(reservation)"
                  style="cursor: pointer"
                >
                  {{ reservation.reservationStatus }}
                </td>
                <td>
                  <button
                    (click)="GoToEdit(reservation.reservationId)"
                    class="btn btn-blue"
                    [disabled]="reservation.reservationStatus==reservationStatusEnum.Canceled"
                  >
                    Edit Dates
                  </button>
                </td>
              </tr>
              <tr *ngIf="selectedReservation === reservation" class="bg-light">
                <td [attr.colspan]="7">
                  <div>
                    <h2 class="text-primary">
                      Details of Selected Reservation
                    </h2>
                    <h3>Rooms</h3>
                    <ul>
                      <li *ngFor="let room of roomsNumbers">
                        <p>Room Number:{{ room.room.roomNumber }}</p>
                        <p>
                          Check In Date:
                          {{ room.checkInDate | date : "mediumDate" }}
                        </p>
                        <p>
                          Check Out Date:
                          {{ room.checkOutDate | date : "mediumDate" }}
                        </p>
                      </li>
                    </ul>
                    <h3>Services</h3>
                    <ul>
                      <li *ngFor="let service of services">
                        {{ service.serviceName }}
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </main>
  </div>
</div>
