body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.center {
  justify-content: center;
  display: flex;
  align-items: center;
}
.hero-section {
  padding: 50px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./../../../assets/cover.webp") no-repeat center center/cover;
  color: white;
  text-align: left;
}

.hero-text {
  margin-top: 20px;
}

.primary-btn {
  background-color: #dfa974;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.primary-btn:hover {
  background-color: #bc8f62;
}

.booking-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.check-date {
  margin-bottom: 15px;
}

.check-date input {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.check-date i {
  position: relative;
  right: 20px;
}

.select-option {
  margin-bottom: 15px;
}

.select-option select {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.booking-form button {
  background-color: #dfa974;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.booking-form button:hover {
  background-color: #bc8f62;
}

.rooms-section {
  padding-top: 40px;
  padding-bottom: 60px;
}

.room-item {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  transition: all 0.3s;
}

.room-item img {
  width: 100%;
  height: 200px;
}

.room-item:hover {
  transform: scale(1.05);
}

.ri-text {
  padding: 20px;
}

.ri-text h4 {
  font-size: 1.5em;
  color: #3498db;
  margin-bottom: 10px;
}

.ri-text h3 {
  font-size: 1.8em;
  color: #e67e22;
}

.ri-text h3 span {
  font-size: 0.8em;
  font-weight: normal;
  color: #7f8c8d;
}

.ri-text table {
  font-size: 1em;
  color: #7f8c8d;
}

.ri-text .r-o {
  font-weight: bold;
}
.room-item .ri-text table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 24px;
}

.room-item .ri-text table tbody tr {
  border-bottom: 1px solid #e5e5e5;
}

.room-item .ri-text table tbody tr:last-child {
  border-bottom: none;
}

.room-item .ri-text table tbody tr td {
  font-size: 16px;
  color: #19191a;
  padding: 8px;
  line-height: 36px;
}

.room-item .ri-text table tbody tr td.r-o {
  font-weight: bold;
  color: #707079;
  width: 120px;
}

.primary-btn {
  background-color: #dfa974;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-transform: uppercase;
}

.primary-btn:hover {
  background-color: #bc8f62;
  color: white;
}

.services-section {
  padding: 60px 0;
  background-color: #ffffff;
  cursor: pointer;
}

.services-section .section-title {
  text-align: center;
  margin-bottom: 40px;
}

.services-section .section-title span {
  color: #dfa974;
  font-size: 18px;
}

.services-section .section-title h2 {
  font-size: 36px;
  color: #19191a;
  margin-bottom: 0;
}

.services-section .service-item {
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.services-section .service-item:hover {
  background-color: #dfa974;
  border: 1px solid #dfa974;
  border-radius: 8px;
}

.services-section .service-item i {
  font-size: 40px;
  color: #dfa974;
  margin-bottom: 15px;
}

.services-section .service-item h4 {
  font-size: 24px;
  color: #19191a;
}

.services-section .service-item p {
  color: #707079;
  font-size: 16px;
  line-height: 1.5;
}

label {
  color: gray;
}
