<div class="homepage">
  <section class="hero-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 center">
          <div class="hero-text">
            <h1>Welcome to Our Luxury Hotel</h1>
            <p>
              Experience the epitome of comfort and style. Reserve your room
              today!
            </p>
            <a href="#" class="primary-btn">Discover Now</a>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
          <div class="booking-form">
            <h3>Booking Your Hotel</h3>
            <form action="#">
              <div class="check-date">
                <label for="date-in">Check In:</label>
                <input type="date" class="date-input" id="date-in" />
                <i class="icon_calendar"></i>
              </div>
              <div class="check-date">
                <label for="date-out">Check Out:</label>
                <input type="date" class="date-input" id="date-out" />
                <i class="icon_calendar"></i>
              </div>
              <div class="select-option">
                <label for="guest">Guests:</label>
                <select id="guest">
                  <option value="">2 Adults</option>
                  <option value="">3 Adults</option>
                </select>
              </div>
              <div class="select-option">
                <label for="room">Room:</label>
                <select id="room">
                  <option value="">1 Room</option>
                  <option value="">2 Rooms</option>
                </select>
              </div>
              <button type="submit">Check Availability</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="rooms-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="room-item">
            <img src="./../../../assets/deluxe.jpeg" alt="Room 1" />
            <div class="ri-text">
              <h4>Standard Room</h4>
              <h3>99$<span>/Pernight</span></h3>
              <table>
                <tbody>
                  <tr>
                    <td class="r-o">Size:</td>
                    <td>25 ft</td>
                  </tr>
                  <tr>
                    <td class="r-o">Capacity:</td>
                    <td>Max 3 persons</td>
                  </tr>
                  <tr>
                    <td class="r-o">Bed:</td>
                    <td>Queen Bed</td>
                  </tr>
                  <tr>
                    <td class="r-o">Services:</td>
                    <td>Wifi, Television, Bathroom</td>
                  </tr>
                </tbody>
              </table>
              <a href="#" class="primary-btn">More Details</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="room-item">
            <img src="./../../../assets/family.webp" alt="Room 2" />
            <div class="ri-text">
              <h4>Deluxe Room</h4>
              <h3>149$<span>/Pernight</span></h3>
              <table>
                <tbody>
                  <tr>
                    <td class="r-o">Size:</td>
                    <td>30 ft</td>
                  </tr>
                  <tr>
                    <td class="r-o">Capacity:</td>
                    <td>Max 4 persons</td>
                  </tr>
                  <tr>
                    <td class="r-o">Bed:</td>
                    <td>King Bed</td>
                  </tr>
                  <tr>
                    <td class="r-o">Services:</td>
                    <td>Wifi, Television, Bathroom, Room Service</td>
                  </tr>
                </tbody>
              </table>
              <a href="#" class="primary-btn">More Details</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="room-item">
            <img src="./../../../assets/luxary.jpeg" alt="Room 3" />
            <div class="ri-text">
              <h4>Executive Suite</h4>
              <h3>249$<span>/Pernight</span></h3>
              <table>
                <tbody>
                  <tr>
                    <td class="r-o">Size:</td>
                    <td>35 ft</td>
                  </tr>
                  <tr>
                    <td class="r-o">Capacity:</td>
                    <td>Max 5 persons</td>
                  </tr>
                  <tr>
                    <td class="r-o">Bed:</td>
                    <td>King Beds</td>
                  </tr>
                  <tr>
                    <td class="r-o">Services:</td>
                    <td>Wifi, Television, Bathroom, Room Service</td>
                  </tr>
                </tbody>
              </table>
              <a href="#" class="primary-btn">More Details</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="room-item">
            <img src="./../../../assets/spa.webp" alt="Room 4" />
            <div class="ri-text">
              <h4>Family Suite</h4>
              <h3>299$<span>/Pernight</span></h3>
              <table>
                <tbody>
                  <tr>
                    <td class="r-o">Size:</td>
                    <td>40 ft</td>
                  </tr>
                  <tr>
                    <td class="r-o">Capacity:</td>
                    <td>Max 6 persons</td>
                  </tr>
                  <tr>
                    <td class="r-o">Bed:</td>
                    <td>2 King Beds</td>
                  </tr>
                  <tr>
                    <td class="r-o">Services:</td>
                    <td>Wifi, Television, Bathroom, Room Service</td>
                  </tr>
                </tbody>
              </table>
              <a href="#" class="primary-btn">More Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <span>What We Do</span>
            <h2>Discover Our Services</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="fa-solid fa-location-dot" style="color: #dbb35c"></i>
            <h4>Travel Plan</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="fa-solid fa-utensils" style="color: #dbb35c"></i>
            <h4>Catering Service</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="fa-solid fa-baby-carriage" style="color: #dbb35c"></i>
            <h4>Babysitting</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="fa-solid fa-shirt" style="color: #dbb35c"></i>
            <h4>Laundry</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="fa-solid fa-car" style="color: #dbb35c"></i>
            <h4>Hire Driver</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i
              class="fa-solid fa-martini-glass-citrus"
              style="color: #dbb35c"
            ></i>
            <h4>Bar & Drink</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
