.room-details-section {
  padding-top: 20px;
  padding-bottom: 80px;
}

.rd-title {
  color: #19191a;
  font-size: 1.5rem;
  font-weight: 700;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border: 1px solid #cfd1d8;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.form-group label {
  color: #19191a;
  font-size: 1.1rem;
}

.select-wrapper {
  position: relative;
  overflow: hidden;
}

.btn-primary {
  background: #dfa974;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: #e74c3c;
}
