.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  font-size: 16px;
  padding: 7px 13px;
  border: 1px solid #EFD4B9;
  border-radius: 2px;
  flex-grow: 1;
}

.search-btn {
  background-color: #f8f9fa;
  border: 1px solid #EFD4B9;
  border-radius: 2px;
  padding: 2px 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.search-btn .fa {
  color: #707079;
}

.search-btn:hover {
  background-color: #dfa974;
}

.search-btn:hover .fa {
  color: #ffffff;
}

.search-input:focus {
  border-color: #dfa974;
  outline: none;
}

.search-btn:focus {
  outline: none;
}
