.sort-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.sort-group {
  display: flex;
}

.sort-select {
  font-size: 16px;
  padding: 7px 13px;
  border: 1px solid #EFD4B9;
  border-radius: 2px;
  background-color: #f8f9fa;
  transition: all 0.3s;
  cursor: pointer;
}

.sort-select:hover {
  background-color: #dfa974;
  color: #ffffff;
}

.sort-select:focus {
  outline: none;
  border-color: #dfa974;
}
