.dropdown-menu .dropdown-item.unread {
    font-weight: bold;
    color: #000; 
  }
  .notification-container {
    margin: 20px;
  }
  
  .notification-list {
    list-style-type: none;
    padding: 0;
  }
  
  .notification-item {
    background-color: #f0f8ff; 
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .notification-message {
    font-size: 16px;
    color: #333;
  }

:host {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.router-outlet {
  flex-grow: 1; 
  margin-top: 100px;
}

footer {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}
.navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #dfa974;
}


