.dropdown-menu .dropdown-item.unread {
    font-weight: bold;
    color: #000; 
  }
  .notification-container {
    margin: 20px;
  }
  
  .notification-list {
    list-style-type: none;
    padding: 0;
  }
  
  .notification-item {
    background-color: #f0f8ff; 
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .notification-message {
    font-size: 16px;
    color: #333;
  }
  /* app.component.css */

:host {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.router-outlet {
  flex-grow: 1; /* Make the content take up available space */
}

/* Footer Styling */
footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}
