<nav
  class="navbar navbar-expand-sm bg-light position-fixed w-100 z-1 d-flex justify-content-between"
>
  <navbar class="w-100"></navbar>

</nav>

<ul class="notification-list" *ngIf="notifications.length > 0">
  <li *ngFor="let item of notifications" class="notification-item">
    <span class="notification-message"
      >Notification: {{ item.messageContent }}</span
    >
  </li>
</ul>
<foo-toaster [position]="ToasterPosition.BOTTOM_RIGHT"></foo-toaster>
<app-spinner></app-spinner>
<div class="router-outlet">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>

<router-outlet />



