<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis nulla ullamcorper, ultrices urna sed, ultrices ex.</p>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>123 Main Street, City, Country</p>
          <p>Email: info&#64;example.com</p>
          <p>Phone: +123456789</p>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <!-- <ul class="list-unstyled">
            <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
          </ul> -->
        </div>
      </div>
    </div>
    <div class="text-center text-muted mt-3">
      <p>&copy; 2024 Hotel Name. All rights reserved.</p>
    </div>
  </footer>
  