/* Button styles */
@import url('./../../../../assets/css/tables.css');

.btn {
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-neutral {
    background-color: #777;
    color: white;
  }
  
  .btn-neutral:hover {
    background-color: #555;
  }
  
  .btn-neutral:active {
    background-color: #333; 
  }
  
  .btn-blue {
    background-color: #2196F3; 
    color: white;
  }
  
  .btn-blue:hover {
    background-color: #1976D2;
  }
  
  .btn-blue:active {
    background-color: #1565C0; 
  }
  
  .btn-danger {
    color: white;
  }
  
  .btn-danger:hover {
    background-color: #5c1111;
  }
  
  .btn-danger:active {
    background-color: #420a0a; 
  }
  
  .btn,
  .btn:active,
  .btn:hover {
    text-shadow: none; 
  }
  