body {
  margin: 0;
  padding-top: 40px;
  color: #2e323c;
  background: #f5f6fa;
  height: 100%;
}

.profile-header {
  padding: 20px;
}

.profile-container .card {
  border: none;
  border-radius: 5px;
  background: #ffffff;
}

.user-profile {
  text-align: center;
}

.user-avatar {
  margin: 0 auto;
}

.user-avatar img {
  width: 90px;
  height: 90px;
  border-radius: 100px;
}

.user-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.user-email {
  font-size: 0.9rem;
  color: #9fa8b9;
}

.about {
  text-align: center;
}

.about h5 {
  color: #007ae1;
}

.about p {
  font-size: 0.825rem;
}

.form-control {
  border: 1px solid #cfd1d8;
  border-radius: 2px;
  background: white;
}

.form-group label {
  font-size: 0.9rem;
  color: #333;
}

.btn {
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
}

.btn-secondary {
  background: #cfd1d8;
}

.btn-primary {
  background: #dfa974;
}

.btn-secondary:hover {
  background: gray;
}

.btn-primary:hover {
  background: #c78e62;
}
