
            <div class="panel-body p-3">
              <form [formGroup]="UpdateForm">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group pt-3">
                      <div
                        class="input-field"
                      >
                        <span class="fa fa-user p-2"> </span>
                        <input
                          formControlName="FirstName"
                          type="text"
                          class="form-control"
                          placeholder="First Name"
                        />
                      </div>
                    </div>
                    <div class="form-group pt-3">
                      <div
                        class="input-field"
                      >
                        <span class="fa fa-user p-2"> </span>
                        <input
                          formControlName="LastName"
                          type="text"
                          class="form-control"
                          placeholder="Last Name"
                        />
                      </div>
                    </div>
                    <div class="form-group pt-3">
                      <div
                        class="input-field"
                      >
                        <span class="fa fa-envelope p-2"> </span>
                        <input
                          formControlName="Email"
                          type="email"
                          class="form-control border-0"
                          placeholder="Email"
                        />
                      </div>
                    </div>
                    <div class="form-group pt-3">
                      <div
                        class="input-field"
                      >
                        <span class="fa fa-phone p-2"> </span>
                        <input
                          formControlName="PhoneNumber"
                          type="string"
                          class="form-control border-0"
                          placeholder="Phone Number"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group pt-3">
                      <div
                        class="input-field"
                      >
                        <span class="fa fa-calendar-days p-2"> </span>
                        <input
                          formControlName="Birthday"
                          type="date"
                          class="form-control border-0"
                          placeholder="Birthday"
                        />
                      </div>
                    </div>
                    <div class="form-group pt-3">
                      <div
                        class="input-field"
                      >
                        <span class="fa fa-globe p-2"> </span>
                        <input
                          formControlName="Country"
                          type="text"
                          class="form-control"
                          placeholder="Country"
                        />
                      </div>
                    </div>
                    <div class="form-group pt-3">
                      <div
                        class="input-field"
                      >
                        <span class="fa fa-location-dot p-2"> </span>
                        <input
                          formControlName="City"
                          type="text"
                          class="form-control"
                          placeholder="City"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  type="submit"
                  (click)="onUpdate()"
                  class="btn btn-primary btn-block mt-4 w-100"
                >
                  Update
                </button>
              </form>
            </div>
  