<div class="dropdown" (click)="NotificationsToSeen()">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Notifications
      <span class="badge bg-danger">{{ unreadCount }}</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
      <li *ngFor="let notification of notifications" [class.unread]="!notification.isSeen">
        <a class="dropdown-item" href="#">
          {{ notification.messageContent }} 
        </a>
      </li>
      <li *ngIf="!notifications || notifications.length === 0">
        <span class="dropdown-item">No notifications</span>
      </li>
    </ul>
  </div>
  