.room-details-section {
  padding-top: 20px;
  padding-bottom: 80px;
}

.room-details-item {
  margin-bottom: 50px;
}

.room-details-item img {
  margin-bottom: 40px;
  max-width: 100%;
  border-radius: 5px;
}

.room-details-item .rd-text {
  background: white;
  padding: 20px;
  border-radius: 5px;
  padding-top: 0;
}

.room-details-item .rd-title {
  display: flex;
  justify-content: space-between;
}

.room-details-item .rd-title h3 {
  color: #19191a;
  font-size: 1.5rem;
}

.rdt-right {
  text-align: right;
}

.room-details-item h2 {
  color: #dfa974;
  font-weight: 700;
  font-size: 2.25rem;
}

.room-details-item h2 span {
  font-size: 2rem;
  color: #707079;
}

.table {
  width: 100%;
  margin-top: 20px;
}

.table tbody tr td {
  color: #19191a;
  font-size: 1rem;
  padding: 10px;
}

.table tbody tr td.r-o {
  color: #707079;
  font-weight: 600;
  width: 120px;
}

.f-para {
  color: #707079;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.admin-actions {
  text-align: center;
  margin-top: 20px;
}

.btn-primary {
  background: #dfa974;
  border: none;
}

.btn-danger {
  background: #e74c3c;
  border: none;
}

.btn-secondary {
  background: #3498db;
  border: none;
}

.carousel-inner {
  border-radius: 5px;
}

.photo-actions {
  text-align: right;
  padding: 10px;
}

.breadcrumb-section {
  padding-top: 70px;
  padding-bottom: 80px;
}
.breadcrumb-text {
  text-align: center;
}
.breadcrumb-text h2 {
  font-size: 44px;
  color: #19191a;
  margin-bottom: 12px;
}
.breadcrumb-text .bt-option a {
  display: inline-block;
  font-size: 18px;
  color: #19191a;
  margin-right: 20px;
  position: relative;
  font-weight: 500;
}
.breadcrumb-text .bt-option a:after {
  position: absolute;
  right: -13px;
  top: 1px;
  content: "ï„…";
  font-size: 18px;
  font-family: "FontAwesome";
  color: #aaaab3;
}
.breadcrumb-text .bt-option span {
  display: inline-block;
  font-size: 18px;
  color: #aaaab3;
}

.btn-success {
  background-color: white;
  color: #dfa974;
  border: 1px solid #dfa974;
}

.btn-success:hover {
  background-color: rgb(237, 231, 231);
  color: #df9d5b;
}

.btn-success:active {
  background-color: #ffffff; 
}

.btn-danger {
  background-color: #dfa974; 
  color: white;
  border: none;
}

.btn-danger:hover {
  background-color: #df9d5b;
  border: none;
}

.btn-danger:active {
  background-color: #cb7723; 
  border: none;
}

.btn-warning {
  color: white;
  background-color: #777;
  border: none;
}

.btn-warning:hover {
  background-color: #555;
  border: none;
}

.btn-warnung:active {
  background-color: #333; 
}

.btn,
.btn:active,
.btn:hover {
  text-shadow: none; 
}