<div class="container">
  <div class="row">
    <div *ngFor="let room of rooms; let roomIndex = index" class="col-md-4 mb-4">
      <div class="card">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let photo of room.roomPhotos; let i = index" [class.active]="i === room.activePhotoIndex">
              <div class="photo-container">
                <img [src]="'data:image/jpeg;base64,' + photo.photoContent" class="d-block w-100" style="height: 200px;" alt="Room Photo">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" (click)="setActivePhoto(roomIndex, (room.activePhotoIndex - 1 + room.roomPhotos.length) % room.roomPhotos.length)">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" (click)="setActivePhoto(roomIndex, (room.activePhotoIndex + 1) % room.roomPhotos.length)">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <a (click)="navigateToGet(room.roomId)" style="cursor:pointer">
        <div class="card-body">
          <h5 class="card-title">{{ room.category }}</h5>
          <p class="card-text">Capacity: {{ room.capacity }}</p>
          <p class="card-text">Price: {{ room.price }}</p>
          <p class="card-text">Room Number: {{ room.roomNumber }}</p>
        </div>
      </a>
      <diV style=" display: inline-block;">
      <a (click)="confirmStatusUpdate(room.roomId,1)" class="btn btn-success" >Available</a>
      <a (click)="confirmStatusUpdate(room.roomId,2)" class="btn btn-danger" >Busy</a>
      <a (click)="confirmStatusUpdate(room.roomId,4)" class="btn btn-warning" >Cleaning</a>
    </diV>
      </div>
    </div>
  </div>
</div>
