.rooms-section {
  padding-top: 0;
  padding-bottom: 80px;
}

.room-item {
  margin-bottom: 30px;
}

.room-item .carousel {
  border: 1px solid #ebebeb;
  border-top: none;
}

.room-item img {
  width: 100%;
}

.room-item .ri-text {
  border: 1px solid #ebebeb;
  padding: 24px 24px 30px 28px;
}

.room-item .ri-text h4 {
  color: #19191a;
  margin-bottom: 17px;
}

.room-item .ri-text h3 {
  color: #dfa974;
  font-weight: 700;
  margin-bottom: 14px;
}

.room-item .ri-text h3 span {
  font-family: "Cabin", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #19191a;
}

.room-item .ri-text table {
  margin-bottom: 18px;
}

.room-item .ri-text table tbody tr td {
  font-size: 16px;
  color: #707079;
  line-height: 36px;
}

.room-item .ri-text table tbody tr td.r-o {
  width: 125px;
}

.room-item .primary-btn {
  color: #19191a;
}

.btn-group {
  margin-top: 20px;
}

.room-pagination {
  text-align: center;
  padding-top: 20px;
}

.ri-text a {
  border-bottom: 2px solid #efd4b9;
  transition: all 0.3s;
  display: inline-block;
  font-size: 13px;
  color: #1e1c1c;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  position: relative;
}

.ri-text a:last-child {
  margin-right: 0;
}

.ri-text a:hover {
  color: #dfa974;
}
.breadcrumb-section {
  padding-top: 70px;
  padding-bottom: 80px;
}
.breadcrumb-text {
  text-align: center;
}
.breadcrumb-text h2 {
  font-size: 44px;
  color: #19191a;
  margin-bottom: 12px;
}
.breadcrumb-text .bt-option a {
  display: inline-block;
  font-size: 18px;
  color: #19191a;
  margin-right: 20px;
  position: relative;
  font-weight: 500;
}
.breadcrumb-text .bt-option a:after {
  position: absolute;
  right: -13px;
  top: 1px;
  content: "ï„…";
  font-size: 18px;
  font-family: "FontAwesome";
  color: #aaaab3;
}
.breadcrumb-text .bt-option span {
  display: inline-block;
  font-size: 18px;
  color: #aaaab3;
}
.btn-success {
  background-color: white;
  color: #dfa974;
  border: 1px solid #dfa974;
}

.btn-success:hover {
  background-color: rgb(237, 231, 231);
  color: #df9d5b;
}

.btn-success:active {
  background-color: #ffffff; 
}

.btn-danger {
  background-color: #dfa974; 
  color: white;
  border: none;
}

.btn-danger:hover {
  background-color: #df9d5b;
  border: none;
}

.btn-danger:active {
  background-color: #cb7723; 
  border: none;
}

.btn-warning {
  color: white;
  background-color: #777;
  border: none;
}

.btn-warning:hover {
  background-color: #555;
  border: none;
}

.btn-warnung:active {
  background-color: #333; 
}

.btn,
.btn:active,
.btn:hover {
  text-shadow: none; 
}