.container {
    padding: 20px;
    border-radius: 10px;
    min-height: 50vh;
  }
  
  .alert-light {
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: white;
    border: none;
    color: #bc8f64;

  }
  
  .alert-light:hover {
    opacity: 0.6;
  }
  
  .room-parameter {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    transition: border-color 0.3s;
  }
  
  .room-parameter:last-child {
    border-bottom: none;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-group {
    flex: 1;
    padding: 0 10px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .text-danger {
    color: #dc3545;
    margin-top: 10px;
  }
  
  .btn {
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-primary {
    background-color: #bc8f64;
    color: white;
    border: 1px solid #bc8f64;
  }
  
  .btn-success {
    background-color: white;
    color: #bc8f64;
    border: 1px solid #bc8f64;
  }
  
  .btn-primary:hover,
  .btn-success:hover {
    background-color: #ae6522;
    color: white;
  }
  
  .btn {
    margin: 0 10px;
    padding: 10px 20px;
  }
  
  .btn[disabled] {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
  }
  
  .bg-light {
    background-color: #f8f9fa;
  }
  
  .font-weight-bolder {
    font-weight: 700;
  }
  